/*--------------------------
    variables
---------------------------*/
//fonts
$primary-font: "Trueno-Light", sans-serif;
$secondary-font: "Trueno-Regular", sans-serif;

//colors
$primary-color: #000000;
$secondary-color: #f9b42a;
$gray: #acacac;
$white: #ffffff;

.about__work {
  grid-column: 1/15;
  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 12rem)) 1fr;
  background-color: #f8f8f8;
  padding: 8rem 3rem;
  .about__text {
    grid-column: 5/9;
    text-align: center;
    font-size: 1.3rem;
    line-height: 24px;
  }
  .about__workWrapper {
    margin-top: 8rem;
    grid-column: 4/10;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    .box {
      margin: 3rem 0;
      color: $primary-color;
      h5 {
        margin-bottom: 2rem;
      }
      & > div {
        width: 100%;
        height: 50rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          margin-top: -6rem;
          padding: 0.5rem 1.5rem;
          border-radius: 20px;
          font-size: 1.3rem;
          margin-right: 2rem;
          backdrop-filter: blur(5px);
          background-color: rgba(255, 255, 255, 0.3);
          color: $white;
        }
      }
      h3 {
        margin-top: 2rem;
        // font-family: $secondary-font;
        font-weight: 100;
        span {
          font-style: italic;
          font-weight: 100 !important;
          // font-family: 'Trueno-RegularLight';
        }
      }
    }
    .box:nth-of-type(2) {
      margin-top: 20rem;

      @media only screen and (max-width: 56em) {
        margin-top: 2rem;
      }
    }
    .box:nth-of-type(3) {
      margin-top: -16rem;
      @media only screen and (max-width: 56em) {
        margin-top: 2rem;
      }
    }
  }
}

.navContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5rem;
    top: 4rem;
    position: absolute;

    img:nth-of-type(2) {
      margin-left: 1.5rem;
    }
  }
  .navIcon {
    right: 5rem;
    top: 4rem;
    z-index: 10;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-transform: uppercase;
      letter-spacing: 0.3em;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;

      .bar1,
      .bar2,
      .bar3 {
        width: 40px;
        height: 1.75px;
        margin: 2px 0;
        transition: 0.4s;
        background-color: $primary-color;
        pointer-events: none;
      }
      .bar3 {
        width: 20px;
        transform-origin: right;
      }
    }
  }
}
